/* === reset === */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* === end reset === */

/* === content === */

p {
  margin-top: 1rem;
}

h1 {
  letter-spacing: 1px;
}

/* === end content === */

/* === layout === */

:root {
  /* light mode */
  color: #000;
  --h2-color: #007bff;
  --h3-color: #666;
  /* used for empty background */
  --bg-dark-color: #f3f3f3;
  /* --bg-dark-image: url(/images/noise-light-gray.png); */
  /* used for the main */
  --bg-light-color: #fff;
  --btn-color: #eaeaea;
  --btn-hover-color: #dadada;
  /* --bg-light-image: url(/images/noise-white.png); */
  /* used for sash and picture */
  --shadow-strong: rgba(0, 0, 0, 0.1) 0px 0px 20px 20px,
    rgba(0, 0, 0, 0.3) 0px 0px 2px 2px;
  /* used for main */
  --shadow-weak: rgba(0, 0, 0, 0.05) 0px 1px 20px 20px,
    rgba(0, 0, 0, 0.05) 0px 1px 3px 3px;

  font-family: "source sans pro", sans-serif;
}

a {
  color: rgb(30, 45, 175);
}
a:visited {
  color: rgb(118, 46, 185);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ccc;
    --h2-color: #39b0ff;
    --h3-color: #999;
    --bg-dark-color: #141517;
    --bg-light-color: #1e2024;
    --btn-color: #141517;
    --btn-hover-color: #000;
    --shadow-strong: rgba(207, 20, 20, 0.3) 0px 0px 20px 20px,
      rgba(0, 0, 0, 0.3) 0px 0px 2px 2px;
    --shadow-weak: rgba(0, 0, 0, 0.15) 0px 1px 20px 20px,
      rgba(0, 0, 0, 0.15) 0px 1px 3px 3px;
  }

  b {
    color: #fff;
  }

  a {
    color: rgb(166, 186, 252);
  }
  a:visited {
    color: rgb(255, 197, 255);
  }
}

body {
  background-color: var(--bg-dark-color);
  font-weight: 400;
  overflow-y: scroll;
}

.layout {
  max-width: 1190px;
  margin: auto;
  padding: 30px;

  box-shadow: var(--shadow-weak);
  background-color: var(--bg-light-color);
  background-image: var(--bg-light-image);
}

@media print {
  .layout {
    box-shadow: none;
    padding: 0;
  }
}

main {
  grid-area: main;
  max-width: 850px;
  margin: auto;
}

.actions {
  width: 100%;
  height: 50px;

  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  flex-direction: row-reverse;
}

@media print {
  .actions {
    display: none;
  }
}

.action {
  margin-left: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--btn-color);
  vertical-align: bottom;
}

a.action {
  text-decoration: none;
  color: inherit;
}

.action:hover {
  background-color: var(--btn-hover-color);
  cursor: pointer;
}

.action > svg {
  display: inline;
  vertical-align: bottom;
  height: 20px;
  width: 20px;
  fill: currentColor;
}

/* === end layout === */
