/* === reset === */
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html,
  body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
  }
  
  a {
      text-decoration: none;
      color: inherit;
  }
/* === end reset === */

/* === layout === */
.layout {
    width: 100%;
    height: 100%;
    position: fixed;
}

.layout {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 5em auto 300px 5em;
    grid-template-areas:
        "head head head"
        "main main main"
        ".    pict .   "
        "foot foot foot";
}

@media (min-width: 1200px) {

    .layout {
        padding-left: 30px;
    }

    /* same grid used by scrollable content and non-scrollable overlay. It's a bit of a hack. */
    .layout {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 300px 1fr 1000px;
        grid-template-rows: 30px 10em 300px auto 5em 30px;
        grid-template-areas:
            ".    .    .    .   "
            "head head head main"
            ".    pict .    main"
            ".    .    .    main"
            "foot foot foot main"
            ".    .    .    .   ";
    }
}


.picture {
    height: 100%;
    width: 100%;
    grid-area: pict;
}


nav {
    grid-area: head;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
}

footer {
    grid-area: foot;
}

.content {
    grid-area: main;

}
/* === end layout === */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

nav {
    font-size: 2em;
    color: white;
    text-shadow: 0px 2px 5px black;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.picture {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px 5px;
}

.background {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -200;
    background-image: url(/images/dark-gray.png);
}
.sash {
    /* 
    $width: 300px;
    $length: 6000px;

    $origin-x: $width / 2;
    $origin-y: 100px;

    top: -$origin-y;
    left: -$origin-x;

    transform-origin: $origin-x $origin-y;

    transform: rotate(-65deg);

    position: fixed;
    width: $width;
    height: $length;
    z-index: -100;
    background-image: url(/images/orange.png);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px 10px;
    */
    
    top: -100px;
    left: -150px;

    transform-origin: 150px 100px;

    transform: rotate(-65deg);

    position: fixed;
    width: 300px;
    height: 6000px;
    z-index: -100;
    background-image: url(/images/orange.png);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px 10px;
}

main {
    padding: 30px;
    background-image: url(/images/pale.png);
    background-color: rgba(40, 40, 40, 1);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px 5px;
}

main h1 {
    margin-top: 0;
}

a.active {
    text-decoration: underline;
}
