<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <sergey-slot name="seo" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css" />
    <sergey-slot name="head" />
</head>

<body>
    <div class="background"></div>
    <div class="sash"></div>
    <div class="overlay">
        <header>
            <nav>
                <a href="/">HOME</a>
                <a href="/cv">CV</a>
                <a href="/projects">PROJECTS</a>
                <a href="/blog">BLOG</a>
            </nav>
        </header>
        <img class="picture" src="/images/me.png" />
        <footer>
            Maxwell Clarke, maxeonyx@gmail.com, 2020
        </footer>
    </div>
    <div class="content">
        <main>
            <sergey-slot />
        </main>
    </div>
    <script src="/main.js"></script>
    <sergey-slot name="scripts" />
</body>

</html>
